.arrow{ fill:none; stroke-width: 3.2; opacity: .07; }
.arrow.on{ opacity: .92; }
.arrow.fade{ opacity: .04; }
.arrow.integr{ stroke: rgba(134,239,172,.85); marker-end: url(#arrowHeadGreen); }
.arrow.disint{ stroke: rgba(253,164,175,.85); marker-end: url(#arrowHeadPink); }
